body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.layui-container {
  margin-top: 0;
  margin: 0;
  padding: 1vw;
}

#board_main_wrap.layui-col-md6.layui-col-xs9 {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#board_main {
  transform-origin: 0px 0px;
  flex-shrink: 0;
}

#board_main_wrap > .controlbar {
  font-size: 12px;
  zoom: 0.8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24vw;
}

#board_main_wrap > .controlbar > button,
select {
  margin: 5px 0;
  max-width: inherit;
  width: inherit;
}

#query-actual-combat-chess {
  margin: 0;
}

.chat_area.layui-col-md3.layui-col-xs3 {
  width: 98vw;
  margin: 10px 0;
}

#chat_content_list {
  margin-left: 0;
  height: 300px;
}

#lesson_list {
  width: 98vw;
  height: 300px;
}

.layui-footer.footer.footer-doc {
  padding: 10px;
  font-size: 12px;
}

#play_control {
  width: 98vw;
  margin: 10px 0 0;
  height: max-content;
}

#progress {
  margin-bottom: 5px;
}
