body {
  font-family: '微软雅黑', Arial, Helvetica, sans-serif;
  background-color: #efeef7;
}

img {
  border: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0 0 5px 0;
  line-height: 22px;
}

ul,
li,
dt,
dd,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  margin: 10px 0;
}

.footer p {
  text-align: center;
}

.button {
  cursor: pointer;
  background: #59a8f3;
  border-color: #3990db #3990db #2f78b7;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  font-size: 13px;
  padding: 3px 9px;
}

.button:hover {
  background: #3f96e5;
}

#board_main {
  background: url('images/board-0.png') 0 -3px no-repeat;
  height: 583px;
  width: 590px;
  padding-top: 3px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.black {
  background: url('images/b.png') center center no-repeat;
  color: white;
}

.white {
  /*background:url('images/w.png') center center no-repeat;*/
  background: url('images/w_combine.png') center center no-repeat;
}

.row {
  height: 37px;
  width: 556px;
  margin-left: 5px;
  overflow: hidden;
}

.row div {
  font-family: Arial;
  height: 37px;
  width: 37px;
  float: left;
  line-height: 37px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
}

.controlbar {
  width: 550px;
}

.controlbar button {
  margin-left: 5px;
}

#chat_content_list {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 0px;
  background: #f2f2f2;
  margin-left: 40px;
}

#chat_content li {
  border-bottom: 1px solid #ddd;
  line-height: 25px;
}

#chat_content .chat-name {
  font-weight: bold;
  color: #59a8f3;
}

#chat_content .teacher {
  color: #e24329;
}

#chat_content .chat-move {
  color: #3f9343;
}

#chat_content .chat-sys {
  color: #9e5724;
}

#lesson_list {
  height: 560px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#lesson_list ul li {
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
}

#lesson_list ul li a {
  color: #5b76a0;
}

#lesson_list ul li a:hover {
  color: #ffaa56;
}

#lesson_list ul li a:visited {
  color: #894e14;
}

#play_control {
  padding: 0 5px 0 5px;
  height: 60px;
  overflow: hidden;
}

#progress {
  width: 100%;
  height: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  position: relative;
}

#progress ul {
  z-index: 1;
  width: inherit;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#progress ul li {
  width: 1%;
  height: 20px;
  float: left;
}

#progress > div {
  width: 0%;
  height: 20px;
  background-color: #779e23;
}

#lesson_list a {
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}
